<ion-view title="Credits">

	<ion-content has-header="true">

		<div class="credits">

			<h1>CODED BY</h1>
			<a href="#" class="ks_studio" onclick="window.open('http://www.kaleidoscope-studio.it', '_system', 'location=yes'); return false;">
				<img src="img/kaleidoscope_studio.png" alt="Kaleidoscope Studio">
			</a>
			<a href="#" onclick="window.open('http://www.veronafablab.it', '_system', 'location=yes'); return false;">
				<img src="img/verona_fablab.png" alt="Verona FabLab">
			</a>

		</div>

	</ion-content>

</ion-view>