.credits {
	h1 {
		padding-top: 60px;
		color: #004484;
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
	}
	.ks_studio {
		display: block;
		margin-top: 30px;
		margin-bottom: 120px;
	}
	img {
		display: block;
		margin: 0 auto;
	}

}